@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(6, 19, 47);
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 300px;
  background-color: rgba(255, 255, 255, 0.451);
  border-radius: 3rem;
  padding: 20px;
  margin: 20px;
}

.color {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

label,
p {
  margin: 20px;
}

@media only screen and (width <=576px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}